{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <h1 class="title">Редагування товару</h1>

  <section>
    <div class="form">
      <h2 class="form__title">Інформація про товар</h2>
      <form method="POST" action="/product-edit">
        <div class="form__content">

          <div class="form__product">
            <div class="form__field">
              <label for="name" class="form__label">Назва товару</label>
              <input type="name" name="name" class="form__input">{{name}}
            </div>

            <div class="form__field">
              <label for="price" class="form__label">Ціна</label>
              <input type="price" name="price" class="form__input">{{price}}
            </div>

            <div class="form__field">
              <label for="id" class="form__label">ID</label>
              <input type="id" name="id" class="form__input">{{id}}
            </div>
          </div>


          <div class="form__field">
            <label for="description" class="form__label">Короткий опис товару</label>
            <input type="description" name="description" class="form__description-input">{{description}}
          </div>
        </div>
        <div class="form__description">Відображається у картці товару</div>

        <div class="form__button">
          <button class="form__button-confirm">Зберігти оновлення</button>
          <a href="/product-edit?id={{id}}" class="form__button-reject">Видалити товар</a>
        </div>


      </form>
    </div>
  </section>
</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}