{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#with data.purchases}}
  <form method="POST" action="/purchase-order-data?id={{id}}">
    <div class="form-card">
      {{> heading title="Мої замовлення"}}
      {{#each list}}
      <a href="/purchase-order-data?id={{id}}" class="link">
        <div class="form__order">
          <div class="form__order-id">
            <div class="form__order-name">ID:</div>
            <div class="form__order-data">{{id}}</div>
          </div>

          {{> form name='Товари' data=product.title}}
          {{> form name='Сума замовлення' data=totalPrice}}
          {{> form name='Нараховані бонуси' data=bonus}}

        </div>
      </a>

      {{/each}}
      {{> divider}}
    </div>
  </form>
  {{/with}}
</main>

{{!-- <main class="main">

  {{#with data.purchases}}
  {{> heading title="Мої замовлення"}}
  <div class="purchase-list">
    {{#each list}}
    <a href="/purchase-order-data">
      <div class="purchase-item">
        <div class="purchase-item__block">
          <span class="title">ID: {{id}}</span>
        </div>
        <div class="purchase-item__block">
          <span class="title">Товари:</span>
          <span class="text">{{title}}</span>
        </div>
        <div class="purchase-item__block">
          <span class="title">Сума замовлення:</span>
          <span class="text">{{totalPrice}}</span>
        </div>
        <div class="purchase-item__block">
          <span class="title">Нараховані:</span>
          <span class="text">{{bonus}}</span>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
  {{/with}}
</main> --}}



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}